/* cccookies.html*/ 

.title,
.link  {
color: orange;
}
.background {
    background-color: blue;
}
.titletwo {
    color: hsla(0, 93%, 17%, 0.767);
    font-family: Brush Script MT;
}
.backgroundtwo {
    background-color: tan;
}
.text {
    color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
/* lemonpseed.html */

div {
    color: rgb(12, 12, 12);
    font-size: 18px;
    font-family: fantasy, sans-serif
}
.backgroundlp {
    background-color: lemonchiffon;
    font-weight: 100;
}
.textlp {
    font-family: Apple Chancery, sans-serif;
}